body {
    font-family: monospace;
    background-color: black;
    text-align: center;
}
h1, div, p {
    color: white;
}
.button {
    background-color: black; 
    color: red; 
    border: 2px solid red;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: red;
    color: black;
}
#MAWP {
    height: 30ch;
    width: 85ch;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: red;
    border-radius: 4px;
    border-style: double;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    
}
#input {
    height: 5ch;
    width: 85ch;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: red;
    border-radius: 4px;
    border-style: double;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

#code-output {
    display: inline-block;
    border: red;
    border-radius: 4px;
    border-style: double;
    width: 45em;
    height: 30ch;
    overflow: scroll;
    text-align: center;
}