body {
    font-family: monospace;
    background-color: black;

}
h1, div, p {
    color: white;
}
.button {
    background-color: black; 
    color: red; 
    border: 2px solid red;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: red;
    color: black;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#code-output {
    border: red;
    border-radius: 4px;
    border-style: double;
    max-width: 100ch;
    height: 30ch;
}